body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color:white;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  /* background-color: transparent; */
  color: rgb(255, 255, 255);
  border-radius: 0;
  /* border-bottom: 10px solid black; */

  /* my styles */
  transition: 1s;
  font-size: bold;
  background-image: url(../images/bg.jpg);
  background-position: top;
  background-repeat: none;
}
.jumbotron:hover {
  background-position: bottom;
  transition: 3s;
}
.jumbotron:hover .display-3,
.jumbotron:hover p {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: auto;
  /* border-top: 1px solid white; */
  /* My styles */
  text-transform: uppercase;
  transition: .5s;
  margin: 10px;
}
.row:hover {
  -webkit-box-shadow: 5px 7px 22px -3px rgba(0,0,0,0.9); 
  box-shadow: 5px 7px 22px -3px rgba(56, 43, 43, 0.9);
  transition: .5s;
}
.hour {
  background-color: #ffffff;
  color: #000000;
  /* border-top: 1px dashed #000000; */
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #1bd5ff;
  color: white;
  
  /* My styles */
  transition: .5s;
  cursor: pointer;
  border: none;
  padding: 10px;
  font-size: 10px;
}

.saveBtn:hover {
  /* My styles */
  background-color: rgba(0,0,0,.5);
  transition: .5s;
  cursor: pointer;
  color: #1bd5ff;
}

/* My styles */
footer {
  background: #000000;
  padding: 32px;
  margin-top: 48px;
  text-align: center;
}

.container {
  padding: 32px;
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
  -webkit-box-shadow: 5px 7px 22px -3px rgba(0,0,0,0.9); 
  box-shadow: 5px 7px 22px -3px rgba(56, 43, 43, 0.9);
  transition: .5s;
}
.container:hover {
  box-shadow: none;
  transition: .5s;
}